* {
    font-family: Helvetica;
}

nav {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2em;
}
  
li {
    float: left;
    width: 24.8%;
}

li:last-child {
    float: left;
    width: 25%;
    border-right: 0;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
  
li a:hover {
    text-decoration: underline;
}